<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="card">
  <h1 class="home1">Home Page</h1>

  <p class="home1">
    Welcome to Contact App, a user-friendly tool designed to simplify how you manage your contacts. 
    With Contact App, you can easily store, organize, and access all your contacts in one convenient place. 
    Whether you're adding new contacts, editing existing ones, or searching for specific individuals, 
    this app makes it effortless and efficient.
  </p>
</div>
</body>
</html>